html, body{
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.photo {
    display: flex;
    align-items: center;
    border-radius: 1rem;
}

h1,p {
    text-align: center;
}